= form_for @prototype, html: {class: 'container proto-new'}  do |f|
  - if @prototype.errors.any?
    .alert.alert-danger
      %h2
        = pluralize(@prototype.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @prototype.errors.full_messages.each do |message|
          %li= message

  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        = f.text_field :title, placeholder: "Title", class: 'proto-new-title'
    .row
      .col-md-12
        .cover-image-upload
          = f.fields_for :prototype_images do |proto_main_image|
            = proto_main_image.file_field :content, class: "input_img"
            .review_img
            = proto_main_image.hidden_field :status, value: 'main_image'
      .col-md-12
        %ul.proto-sub-list.list-group
          %li.list-group-item.col-md-4
            .image-upload
              = f.fields_for :prototype_images do |proto_sub_image|
                = proto_sub_image.file_field :content, class: "input_img"
                .review_img
                = proto_sub_image.hidden_field :status, value: 'sub_images'
          %li.list-group-item.col-md-4
            .image-upload
              = f.fields_for :prototype_images do |proto_sub_image|
                = proto_sub_image.file_field :content, class: "input_img"
                .review_img
                = proto_sub_image.hidden_field :status, value: 'sub_images'
          %li.list-group-item.col-md-4
            .image-upload-plus
              %span +
    .row.proto-description
      .col-md-12
        = f.text_field :catchcopy, placeholder: 'Catch Copy'
      .col-md-12
        = f.text_area :concept, cols: '30', rows: '4', placeholder: 'Concept'
      .col-md-12
        %h4 Tag List
        .row
          .col-md-3
            =text_field_tag 'prototype[tag][]', "", placeholder: "Web desgin"
          .col-md-3
            =text_field_tag 'prototype[tag][]', "", placeholder: "UI"
          .col-md-3
            =text_field_tag 'prototype[tag][]', "", placeholder: "Application"
    .row.text-center.proto-btn
      =button_tag "Publish",type: "submit",class: "btn btn-lg btn-primary btn-block"

