.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(current_user) do
            = image_tag @prototype.user.avatar, class: 'media-object', size: '64x64', alt: 'no-image'
        .media-body
          %h4#top-aligned-media.media-heading
            Top aligned media
          .proto-user
            = link_to "by#{@prototype.user.name}",user_path(current_user)
            %span.degree #{@prototype.user.profile}

    .col-md-6.text-right#like-button
      = render partial: 'prototypes/like', locals: {prototype: @prototype, like: @likes}

  .row
    .col-md-9
      = image_tag @prototype.prototype_images.first.content, class: 'img-responsive'
    .col-md-3
      %ul.proto-sub-list.list-group
        %li.list-group-item
          = image_tag @prototype.prototype_images.second.content, class: 'img-responsive'
        %li.list-group-item
          = image_tag @prototype.prototype_images.third.content, class: 'img-responsive'

  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p=@prototype.catchcopy
    .col-md-6
      %h4 Concept
      %p=@prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          =link_to "iPad",'#',class: "btn btn-default"
        %li
          =link_to "wireframe",'#',class: "btn btn-default"
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (#{@prototype.comments.count})
    .col-md-8#all_comments
      =render partial: 'prototypes/comment'

      .form-inline
        - if user_signed_in?
          = form_for [@prototype, @comment], remote: true do |f|
            %h4 Write a comment
            .row
              .form-group.col-md-10
                = f.text_area :text, placeholder: "Your comments", class: "form-control", rows: "3", id: "comment_form"
              .form-group.col-md-2
                = f.submit "Comment", class: "btn btn-primary"


